:root {
    --base-background: rgba(255, 255, 255, 1);
    --base-color: #272727;
  
    --header-background: rgba(255, 255, 255, 1);
    --header-color: rgba(167, 167, 167, 1);
  
    --search-background: rgba(238, 239, 241, 1);
    --search-color: rgba(167, 167, 167, 1);
  
    --menu-background: rgba(250, 250, 250, 1);
    --menu-color: #595a5d;
    --menu-selected-background: rgba(255, 255, 255, 1);
    --menu-selected-color: rgba(76, 165, 202, 1);
    --menu-selected-marker-background: rgb(252, 7, 7);
    --menu-group-background: rgba(250, 250, 250, 1);
    --menu-group-selected-background: rgba(227, 228, 230, 1);
    --menu-group-color: #272727;
    --menu-group-selected-color: rgba(76, 165, 202, 1);
  
    --button-main-background: #0E144F;
    --button-main-color: rgba(250, 250, 250, 1);;
    --toolbelt-background: rgba(250, 250, 250, 1);
    --toolbelt-color: rgba(80, 80, 80, 1);
    --button-hover-border-color: rgb(238, 236, 236);
    --button-focus-border-color: rgba(80, 80, 80, 1);
    --button-focus-background: rgb(238, 236, 236);
    --border-color: #cecece;
    --border-light-color: #f5f1f1;
    --border-active-color: #ee0909;
  
    --row-selected-background: #d6d4bd;
    --even-row-background: rgba(238, 239, 241, 1);
    --text-selected-color: rgba(39, 39, 39, 1);
    
    --floating-button-background: rgba(250, 250, 250, 1);;
    --hover-button-background: #f7f6f6;
  
    --paginate-selected-background: rgba(115, 139, 163, 1);
    --paginate-selected-color: rgba(199, 208, 218, 1);
    --paginate-color: rgba(65, 65, 65, 1);
  
    --card-background: rgba(250, 250, 250, 1);
    --card-selected-background: rgba(255, 255, 255, 1);
    --card-color: rgba(118, 111, 113, 1);
    --card-header-background: rgba(250, 250, 250, 1);
    --card-header-selected-background: rgba(255, 255, 255, 1);
    --card-header-selected-color: rgba(76, 165, 202, 1);
    --card-header-color: rgba(98, 101, 103, 1);
    --card-selected-marker-background: rgb(252, 7, 7);
  
    --important-text-color: rgba(76, 165, 202, 1);
  
    --group-header-1-background: rgba(230, 230, 230, 1);
    --group-header-1-color: #181717;
    --group-header-2-background: rgba(240, 240, 240, 1);
    --group-header-2-color: #272727;
    --group-header-3-background: rgba(250, 250, 250, 1);
    --group-header-3-color: #595a5d;
  
    --status-selected-color: rgba(255, 255, 255, 1);
    --status-selected-background: rgba(255, 144, 0, 1);
  
    --status-all-color:#181717;
    --status-all-background: rgb(85, 83, 83);
  
    --status-just-create-color: #a22080;
    --status-just-create-background: white;
  
    --status-submit-color: #8478e8;
    --status-submit-background: yellow;
  
    --status-cancel-submit-color: red;
    --status-cancel-submit-background: rgb(46, 35, 35);
  
    --status-approved-color: rgba(50, 176, 0, 1);;
    --status-approved-background: blue;
  
    --tabs-background: rgba(240, 240, 240, 1);
    --tabs-selected-background: rgba(255, 255, 255, 1);
    --tabs-selected-color: rgba(76, 165, 202, 1);
    --tabs-selected-hover-color: rgba(199, 208, 218, 1);
    --tabs-selected-border-color: rgba(115, 139, 163, 1);
    
    --text-color-1: rgba(98, 101, 103, 1);
    --text-color-2: #272727;
    --text-color-3: #181717;
  
    --badge-color: white;
    --badge-background: red;
  
    --error-border-color: #c77;
    --error-background: #fdd;

    --readonly-text-color: #858585;
    --disabled-text-color: #bfbfbf;
    
    --error-text-color: red;
    
    ::placeholder {
      color: var(--base-color);
      opacity: 0.7;
    }
  }
  
  