.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center-middle {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.baseline{
    align-items: baseline;
  }