.flex {
    display: flex;
    flex-wrap: nowrap;
}

.vflex {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-base-line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}