.main {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    &__nav {
        flex: 0;
        min-height: $header-height;
        padding-bottom: $default-spacing;
        background: var(--base-background);
        color: var(--base-color);

        &__content {
            -moz-box-shadow: 0  $small-spacing  $small-spacing rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: 0  $small-spacing  $small-spacing rgba(0, 0, 0, 0.4);
            box-shadow: 0 $small-spacing  $small-spacing rgba(0, 0, 0, 0.5);
            padding: $default-spacing;
            padding-top: 0;
        }

    }

    &__content {
        flex: 1;
        background: var(--base-background);
        color: var(--base-color);
        padding: $default-spacing;
        padding-top: 0;
    }
}

.nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__menu {
        margin-top: $default-spacing;
        font-size: 2rem;
        cursor: pointer;
    }

    &__title {
        margin-top: $default-spacing;
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    

    &__avatar {
        overflow: hidden;
        display: flex;
        align-items: center;
        column-gap: $default-spacing;
        &__locale-changer {
            position: relative;
            margin-left:  $default-spacing;
            width: 24px;
            margin-top: -30px;
        }

        &__img, &__text {
            margin-top: $default-spacing;
            border: $default-border;
            height: calc(#{$header-height} - 16px);
            width: calc(#{$header-height} - 16px);
            border-radius: 50%; 
        }

        &__text {
            font-size: 1.8rem;
            line-height: calc(#{$header-height} - 16px);
            text-align: center;
        }
       
    }
}

