.nowrap {
    white-space: nowrap;
}

.avatar img {
    border-radius: 50%;
    border: $default-border;
}

.error-text {
    color: var(--error-text-color);
}

.sub-title {
    font-size: 1.2rem;
    font-weight: bold;
    background: var(--header-background);
    color: var(--header-color);
    text-align: center;
    padding: $large-spacing;
}

.loading {
    color: #fff;
    margin: 0 auto;
}

.load-screen {
    background: #000;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: auto;

    // &::after {
    //     position: absolute;
    //     content: '';
    //     height: 90%;
    //     width: 2px;
    //     right: 0;
    //     background: var(--border-light-color);
    // }
}

.container {
    overflow: auto;
    height: 80%;
    width: 70%;
    background-color: var(--base-background);
}

.form-avatar img {
    border-radius: 0;
    border: 1px solid transparent;
}

.qr-code {
    display: flex;
    justify-content: center;
}

.logo {
    width: 300px;
    height: 300px;
}

.login-title {
    display: block;
}

@media screen and (max-width: 1024px) {
    .form-avatar img {
        border-radius: 50%;
        border: $default-border;
    }

    .login-title {
        display: none;
    }

    .welcome {
        max-height: 200px;
        justify-content: flex-start;
        &::after {
            display: none;
        }
    }

    .container {
        height: 80%;
        width: 60%;
    }

    .logo {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 768px) {
    .login-title {
        display: none;
    }

    .welcome {
        max-height: 200px;
        justify-content: flex-start;
    }

    .container {
        height: 100%;
        width: 100%;
    }
}