.tabs-container {
    .tabs-header {
        &__top-horizontal{
            display: flex;
            column-gap: $large-spacing;

            &__item {
                border-bottom: 3px solid transparent;
                cursor: pointer;
            }
        }
    }
}

.tab-active {
    color: var(--tabs-selected-background) !important;
    border-bottom: 3px solid var(--tabs-selected-border-color) !important;
}