.title-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.text-disabled {
    color: var(--disabled-text-color);
}

.important-text {
    color: var(--important-text-color);
    font-weight: bold ;
}

.three-dot-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}