// media query mixin
@mixin break($size) {
    @media (max-width: map-get($breakpoints, $size)) {
      @content;
    }
}


@mixin create-flat-button() {
  color: var(--toolbelt-color);
  background: var(--toolbelt-background);
  border-radius: $default-radius;
  cursor: pointer;
  font-family: $default-font-family;
  font-weight: 400;
  font-size: 1rem;
  margin-left: $default-spacing;
  min-width: 120px;
  height: $button-height;
  max-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  font-weight: 400;
  outline: none;
  text-align: center;
  padding: 0;
  padding-left: $default-spacing;
  padding-right: $default-spacing;
  &:hover:not(:focus):not(.text-disabled) {
    border: 1px solid var(--button-hover-border-color);
  }
  &:focus {
    border: 1px solid var(--button-focus-border-color);
    background: var(--button-focus-background);
  }
  &:disabled {
    color: var(--disabled-text-color);
    cursor: not-allowed;
  }
}